body{
    background-color: #ABD1F6;
    display:flex;
    justify-content: center;
}
.Home_Area{
    background-color: rgb(200, 225, 247);
    width: auto;
    padding: 30px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.Input_Area{
    display: flex;
    border-radius: 25px;
    overflow: hidden;
}
.Item_in{
    flex-grow: 1;
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 10px 15px;
    outline: none;
    font-size: 16px;
}
.Item_in_button{
    background-color: #ABD1F6;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
}
.List{
    list-style-type: none ;
    padding: 0;
}
.List li{
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 20px;
}
.List label{
    flex-grow: 1;
    margin-top: 6px;
}
.Item_in_Checkbox{
    margin-right: 15px;
}
.Delete_Item_Button{
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    font-size: 28px;
}
.Delete_Item_Button:hover{
    opacity: 1;
}